.App {
  text-align: center;
}

.header {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
}
.total-items {
  padding: 10px;
  background-color: darkcyan;
  border-radius: 5px;
  color: white;
  font-weight: 600;
}
.p-10 {
  padding: 10px;
}
.sub-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}
.sub-header .button {
  background-color: dodgerblue;
  margin: 10px;
  border-radius: 5px;
}
.button {
  margin: 10px;
  border: none;
  padding: 10px;
}
.item-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}
.item-row .button {
  background-color: darkseagreen;
  border-radius: 5px;
}
